extends ../../_layouts/_layout

include ../../../components/buttons/angled-gradient-button/angled-gradient-button
include ../../../components/buttons/animated-close-button/animated-close-button
include ../../../components/buttons/arrow-button/arrow-button
include ../../../components/buttons/arrow-button/arrow-button
include ../../../components/buttons/arrow-link-button/arrow-link-button
include ../../../components/buttons/blobby-button/blobby-button
include ../../../components/buttons/borderman-button/borderman-button
include ../../../components/buttons/centerlined-button/centerlined-button
include ../../../components/buttons/icon-button/icon-button
include ../../../components/buttons/inpulser-button/inpulser-button
include ../../../components/buttons/icon-3d-button/icon-3d-button
include ../../../components/buttons/leftlined-button/leftlined-button
include ../../../components/buttons/outpulser-button/outpulser-button
include ../../../components/buttons/reflective-class-button/reflective-class-button
include ../../../components/buttons/rotating-3d-button/rotating-3d-button
include ../../../components/buttons/rotating-cuboid-button/rotating-cuboid-button
include ../../../components/buttons/suduko-button/suduko-button
include ../../../components/buttons/push-button-3d/push-button-3d



block var
	- title = 'Buttons'
	- bodyClass = 'buttons'

block main
	+angled-gradient-button()
	+push-button-3d()
	+animated-close-button()
	+arrow-button()
	+arrow-link-button()
	+blobby-button()
	+borderman-button()
	+centerlined-button()
	+icon-button()
	+inpulser-button()
	+icon-3d-button()
	+leftlined-button()
	+outpulser-button()
	+reflective-class-button()
	+rotating-3d-button()
	+rotating-cuboid-button()
	+suduko-button()
