extends ../../_layouts/_layout


block var
	- title = 'Animated-placeholder-label'
	- bodyClass = 'animated-placeholder-label'

block main
	include ../../../components/text-inputs/animated-placeholder-label/animated-placeholder-label
