@import "@/styles/styles.scss";

.arrow-link-button {
	display: flex;
	align-items: center;

	color: salmon;
	background-color: transparent;
	transition: all .3s ease;

	font-size: 1rem;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;

	>.arrow {
		width: 8px;
		height: 8px;

		border-right: 2px solid salmon;
		border-bottom: 2px solid salmon;
		transform: rotate(-45deg);
		transition: all .3s ease;

		position: relative;

		margin-left: 3px;

		&:before {
			display: block;

			opacity: 0;
			background-color: #D95E39;
			transform: rotate(45deg);
			transform-origin: bottom right;
			transition: all .3s ease;

			width: 3px;
			height: 2px;

			position: absolute;
			bottom: calc(-2px / 2);
			right: 0;

			content: "";
		}
	}

	&:hover {
		color: #D95E39;

		>.arrow {
			transform: rotate(-45deg) translate(4px, 4px);
			border-color: #D95E39;

			&:before {
				opacity: 1;
				width: 8px;
			}
		}
	}
}
