extends ../../_layouts/_layout


block var
	- title = 'Rounded-email-input'
	- bodyClass = 'rounded-email-input'

block main
	include ../../../components/text-inputs/rounded-email-input/rounded-email-input
