@import '@/styles/global';
@import '@/styles/custom';

@import '@/components/modals/swing-modal/swing-modal';

body {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 100vh;
}
