mixin buttonsrotating-3d-button(data)
	- data = data || {}
	- data.class = data.class || ''
	- data.content = data.content || 'Some content here'

	.buttonsrotating-3d-button(class=data.class)&attributes(attributes)
		if block
			block
		else
			!= data.content