extends ../../_layouts/_layout


block var
	- title = 'Scalable-buttoned-tabs'
	- bodyClass = 'scalable-buttoned-tabs'

block main
	include ../../../components/tabs/scalable-buttoned-tabs/scalable-buttoned-tabs
