.container
	p.paragraph
		| This component allows numbers to be animated! Watch how the number below
		| animates as the page reloads!
	span.animate-number 783272
	button.btn.btn--primary(onclick='window.location.href=window.location.href') Refresh Page

