.tabbed-component
	ul.tabbed-component__list
		li.tabbed-component__item.tabbed-component__item--active(data-section='1')
			button.btn.btn-outline--accent.tabbed-component__button Section 1
		li.tabbed-component__item(data-section='2')
			button.btn.btn-outline--accent.tabbed-component__button Section 2
		li.tabbed-component__item(data-section='3')
			button.btn.btn-outline--accent.tabbed-component__button Section 3
	.tabbed-component__container
		#section-1.tabbed-component__section.tabbed-component__section--active
			h2 This is the 1st tabbed component!
		#section-2.tabbed-component__section
			h2 This is the 2nd tabbed component!
		#section-3.tabbed-component__section
			h2 This is the 3rd tabbed component!
