.swing-modal
	.modal-background
		#swing-modal.modal
			h3.modal-header Front-end Is Awesome!
			.modal-content
				p Swing modal content goes here!
				button.btn.modal-content-button.modal-close Close Modal

