@import "@/styles/styles.scss";

.swing-modal {

	button {
		outline: none;
		border: none;
	}

	.modal--active {
		transform: rotateX(0);
		opacity: 1;
	}

	.modal-content-button {
		padding: 0.5rem 1rem;
		margin-top: auto;


		color: var(--color-black);
		background-color: rgba(0, 0, 0, .2);
		border: 0;
		border-radius: 0.25rem;
		transition: background-color .2s ease;
		cursor: pointer;

		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 0.875rem;

		&::hover {
			background-color: rgba(0, 0, 0, .1);
		}
	}

	.modal {
		overflow: hidden;
		display: flex;
		flex-direction: column;

		min-height: 18.75rem;
		width: 100%;

		color: #fff;
		background-color: var(--color-white);
		transform-origin: 50% 0%;
		border-radius: 4px;
		transition: all .6s cubic-bezier(0.34, 1.6, 0.64, 1);

		position: relative;
		z-index: 999;
		cursor: default;

		p {
			margin: 0;
		}

		&:not(.modal--active) {
			opacity: 0;
			transform: rotateX(-90deg);
		}
	}

	.modal-background:not(.modal-background--active) {
		opacity: 0;
		visibility: hidden;
	}

	.modal-background--active {
		opacity: 1;
		visibility: visible;
		background-color: rgba(0, 0, 0, .7);
		backdrop-filter: blur(3px);
	}

	.modal-content {
		padding: 0.625rem;

		display: flex;
		flex: 1;
		flex-direction: column;

		color: var(--color-black);
	}

	.modal-background {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		position: fixed;
		top: 0;
		left: 0;
		z-index: 999;

		width: 100vw;
		height: 100vh;

		transform-style: preserve-3d;
		perspective: 1300px;
		transition: all .4s ease;

		padding: 0.6rem;

		cursor: pointer;
	}

	.modal-header {
		margin: 0;
		padding: 0.625rem;

		background-color: var(--color-primary);
		color: var(--color-white);
	}

	@include breakpoint(sm) {
		.modal {
			max-width: 37.5rem;
		}
	}
}
