block variables
if process.argv.slice(3) == '--production'

//- Variable site
- var workName = 'yem'
- var prefix = workName + "-"
- var SEO = site.seo
- var isDev = site.isDev
- var data = site.jsons
